
.widget {
    margin: 50px;
    background-color: #2C343E;
    height: 400px;
}

.widget__box h2 {
    color: #FEFCF7;
    font-size: 40px;
    line-height: 48px;
}

.widget__box p {
    color: #FEFCF7;
    opacity: 0.8;
}